.plan-name-input {
  width: auto;
  border: none;
  border-radius: 8px;
  padding: 6px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 24px;
  background-color: #1a1e21;
}

.plan-name-container-light .plan-name-input {
  background-color: #f8f9fa; 
  color: black; 
}

.plan-name-container-dark .plan-name-input {
  background-color: #1a1e21;
  color: white; 
}


.create-plan-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: none;
}

.create-plan-td-light {
  padding: 10px;
  text-align: left;
  background-color: #f8f9fa;
}

.create-plan-td-dark {
  padding: 10px;
  text-align: left;
  background-color: #1a1e21
}

.create-plan-td input[type="text"], td input[type="number"] {
  width: auto;
  max-width: 150px;
  border: none;
  border-radius: 6px;
  padding: 5px;
  box-sizing: border-box;
}

.add-exercise {
  font-size:medium;
  cursor: pointer;
  margin-bottom: 6px;
}

.delete-button {
  font-size: 0.9em;
  cursor: pointer;
}

.day-container {
  margin-bottom: 10px;
}

.day-header {
  font-size: large;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 24px;
}

.day-label-input {
  border: 1px solid black;
  border-radius: 6px;
  text-align: center;
  font-size: medium;
  font-weight: lighter;
}

@media (max-width: 1199px) {
  .create-plan-td {
    display: block; 
    width: 100%;
  }

  .create-plan-td input[type="text"],
  .create-plan-td input[type="number"] {
    width: 100%;
  }
}

.save-button {
  display: block;
  font-size:medium;
  margin: 20px auto; 
  padding: 4px 6px 4px 6px; 
  cursor: pointer;
  margin-bottom: 33px;
}

input::placeholder {
  color: black !important;
}

body.dark input::placeholder {
  color: white !important;
}