/* Container styles */
#my-plans-container {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: #f8f9fa;
}

h1 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 28px;
  color: #f8f9fa;
}

/* Dropdown Menu */
.custom-dropdown {
  position: relative;
  width: auto;
  max-width: 320px;
  margin: 0 auto;
  margin-top: 20px;
}

.custom-dropdown select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  padding: 6px 10px;
  font-size: 16px;
  width: 100%;
  height: auto;
  cursor: pointer;
  white-space: normal;
  overflow-wrap: break-word;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  display: block;
}

.custom-dropdown::after {
  position: absolute;
  right: auto;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #f8f9fa;
  pointer-events: none;
}

#plans-dropdown-light {
  background-color: #f8f9fa;
  color: black;
  border-color: #222529;
  border-width: 0px;
  border-radius: 12px;
  box-shadow: 0 0 3px #222529;
}
#plans-dropdown-dark {
  background-color: #222529;
  color: #f8f9fa;
  border-color: #f8f9fa;
  border-width: 0px;
  border-radius: 12px;
  box-shadow: 0 0 3px #f8f9fa;
}

/* Individual plan section */
.plan-container {
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #1e2125;
  border-radius: 10px;
  padding: 20px;
}

/* Day heading */
.day-section {
  margin-bottom: 20px;
  padding-top: 15px;
  border-top: 2px solid #495057;
}

.day-heading {
  font-size: 20px;
  color: #f8f9fa;
  padding-bottom: 3px;
}

/* Highlight rest days */
.day-section .day-heading {
  font-weight: bold;
}

.day-section:not(:last-child) {
  margin-bottom: 30px;
}

/* Table styles */
.plans-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.plans-table th,
.plans-table td {
  border: 1px solid #495057;
  padding: 2px;
  text-align: center;
  font-size: 16px;
  word-wrap: break-word; 
  hyphens: auto;
}

.plans-table th {
  background-color: #495057;
  color: #f8f9fa;
  font-weight: bold;
}

.plans-table td {
  background-color: #f8f9fa;
  color: #212529;
}

.plans-table tr:nth-child(even) td {
  background-color: #e9ecef;
}

.weights {
 padding: 10px;
}

.editable-weight-input {
  resize: none; 
  width: auto; 
  min-width: 50px;
  max-width: 100%;
  height: auto; 
  min-height: 30px;
  padding: 5px;
  border: 1px solid #f8f9fa;
  border-radius: 5px;
  overflow-wrap: break-word;
  white-space: pre-wrap; 
  word-wrap: break-word;
  text-align: center;
  font-size: 14px; 
}

textarea:focus {
  outline: none; 
  border-color: #007bff; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.del-button {
  font-size: 1rem;
  color: white;
  background-color: #c82333;
  box-shadow: 2px 2px 15px black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
}

.edit-button {
  font-size: 1rem;
  color: white;
  background-color: rgb(53, 150, 67);
  box-shadow: 2px 2px 15px black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
}

#exercise-container p {
  text-align: center;
  padding-bottom: 20px;
  font-size: 15px;
  color: #f8f9fa;
}

.saved-plan-button {
  text-align: center !important;
}

/* Toast Styles */
.Toastify__toast {
  border-radius: 8px;
  padding: 15px;
  background-color: #222529;
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: 0 auto;
}

/* Success Toast */
.Toastify__toast--success {
  background-color: white;
  color: black;
  font-weight: bold;
}

/* Error Toast */
.Toastify__toast--error {
  background-color: white;
  color: black;
  font-weight: bold;
}

/* Custom progress bar */
.Toastify__progress-bar {
  height: 5px;
  background-color: #ff9800;
  border-radius: 2px;
}

/* Toastify container for custom position */
.Toastify__toast-container--top-center {
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: fixed;
  z-index: 1001;
}

.toast-button-yes,
.toast-button-no {
  width: 42px;
  color: white;
  background-color: #007bff;
  font-size:small;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 6px;
}

.toast-button-yes {
  margin-right: 25%;
  margin-left: 17%;
}
.toast-button-no {
  background-color: #dc3545;
  margin-left: 25%;
}

/* Overlay style */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
  display: none;
  backdrop-filter: blur(5px);
  pointer-events: none;
}

.overlay.active {
  display: block; 
  pointer-events: all; 
}


/* Responsive design */
@media (max-width: 768px) {
  #my-plans-container {
    padding: 10px;
  }

  .day-heading {
    font-size: 18px;
  }

  .plans-table {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }
}

/* Editable Weights Part */
@media (max-width: 565px) {
  .editable-weight-input {
    width: 100% !important;
    text-align: center;
  }
}

@media (min-width: 566px) {
  .editable-weight-input {
    width: 80% !important;
    text-align: center;
  }
}