.schedule {
  font-family: "Funnel Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  background-color: white;
  color: black;
  padding-left: 10px;
}

.schedule strong {
  display: grid;
  background-color: white;
  color: black;
  font-size: large;
  justify-content: center;
  border-radius: 6px;
}