.dropdown-container {
  position: relative;
  display: inline-block;
}
.select-plan {
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: block;
  width: 200px;
  text-align: center; 
  box-shadow: 2px 6px 8px black;
  max-width: 370px;
}

/* Main menu */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #1a1e21;
  box-shadow: 4px 8px 12px black;
  width: auto;
  max-width: 370px;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  white-space: nowrap;
  overflow: hidden;
}

.dropdown-menu.show {
  display: block;
}

/* Menu items */
.main-dropdown-item {
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.main-dropdown-item::after {
  content: "▼";
  font-size: 12px;
  margin-left: 5px;
}

/* Submenu styles */
.submenu {
  padding-left: 40px;
  background-color: white;
  color: black;
}