.dropdown-container {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

/* Force static styles for form-select */
.form-select {
  background-color: #212529 !important;
  color: white !important;
}

.select-plan {
  padding: 10px; 
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: block;
  box-shadow: 0 0 3px #212529;
  width: 200px !important;
  max-width: 370px !important;
  text-align: center !important;
}

/* Main menu */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #1a1e21 !important;
  color: white !important;
  width: auto;
  max-width: 370px;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  box-shadow: 4px 8px 12px black !important;
  white-space: nowrap !important;
  overflow: hidden;
}

.dropdown-menu.show {
  display: block;
}

/* Menu items */
.main-dropdown-item {
  background-color: transparent !important;
  color: white !important;
  padding: 10px !important;
  cursor: pointer !important;
  width: 100%;
  text-align: left;
}

.main-dropdown-item::after {
  content: "▼";
  font-size: 12px;
  margin-left: 5px;
  color: white !important;
}

/* Submenu styles */
.submenu {
  padding-left: 40px;
  background-color: white !important;
  color: black !important;
}

