.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
}

.loading-image {
  height: 100vh; 
}

@media (max-width: 550px) {
  .loading-image {
    width: 200%; 
  }
}